@import "./_base.less";
// 箭头
.arrow{
    position:relative;
    display:inline-block;
    height:6px;
    width:6px;
    border-width:2px 2px 0 0;
    border-color:@arrow-color;
    border-style:solid;
    transform:rotate(45deg);
    &.right{
        border-width:2px 2px 0 0;
    }
    &.left{
        border-width:0 0 2px 2px;
    }
    &.up{
        top: 3px;
        border-width:2px 0 0 2px;
    }
    &.down{
        top:-3px;
        border-width: 0 2px 2px 0;
    }
}