@import "./_base.less";
// 主题色
.primary-color{
    color: @primary-color;
}
.primary-bg{
    background-color: @primary-color;
}
// 主题渐变色
.primary-linear{
    .bg-linear()
}
// 警告色
.warn-color{
    color: @warn-color;
}
// 警告渐变色
.warn-linear{
    .bg-linear(#ffa107, #ffe90d)
}
.warn-bg{
    background-color: @warn-color;
}
// 成功颜色
.success-color{
    color: @success-color;
}
.success-bg{
    background-color: @success-color;
}
// 失败颜色
.error-color{
    color: @error-color;
}
.error-bg{
    background-color: @error-color;
}
// 文本标题颜色
.title-color{
    color:@title-color;
}
// 正常文本内容颜色
.content-color{
    color:@content-color;
}
// 正常文本内容颜色
.content-light-color{
    color:@content-light-color;
}


