@import "./reset/reset.less";
@import "./common/_base.less";
@import "./common/button.less";
@import "./common/modal.less";
@import "./common/flex.less";
@import "./common/arrow.less";
@import "./common/color.less";
@import "./common/size.less";
// 分割区块
.divide{
    .divide()
}
// border
.border-bottom{
    border-bottom: 1rpx solid @border-color;
}
// mask遮罩
.mask{
    z-index: 9;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    right: 0;
    bottom: 0;
    left:0;
    background-color:rgba(0,0,0,.6);
    transition:.3s;
    display:none;
}

